In [1]:
# To build a Decision Tree model for prediction of car quality given other attributes about the car

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
## Read Data
dataset = pd.read_csv('car.data',header= None,names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [4]:
dataset.shape

(1728, 7)

In [15]:
dataset.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
## profiling data
dataset['buying'].value_counts()

vhigh    432
med      432
high     432
low      432
Name: buying, dtype: int64

In [6]:
## profiling data
dataset['maint'].value_counts()

vhigh    432
med      432
high     432
low      432
Name: maint, dtype: int64

In [7]:
## profiling data
dataset['doors'].value_counts()

3        432
2        432
4        432
5more    432
Name: doors, dtype: int64

In [8]:
## profiling data
dataset['persons'].value_counts()

more    576
2       576
4       576
Name: persons, dtype: int64

In [9]:
X = pd.get_dummies(dataset.iloc[:,:-1],drop_first=True)

In [10]:
X.head()
y=dataset['class']

In [11]:
X.head()

,buying_low,buying_med,buying_vhigh,maint_low,maint_med,maint_vhigh,doors_3,doors_4,doors_5more,persons_4,persons_more,lug_boot_med,lug_boot_small,safety_low,safety_med
0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0
1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
2,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0
4,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=101, test_size=0.10)

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [19]:
# calculate cross-validated AUC
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='entropy',max_depth = 6)
model.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold, GridSearchCV, cross_val_score


# Set stratified cross validation parameters
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=5)
# Set the tree parameters
decision_tree_params = {'max_depth': list(range(1, 5)),
'min_samples_leaf': list(range(1, 5))}
# Set the tree grid
decision_tree_grid = GridSearchCV(DecisionTreeClassifier(random_state=17),
decision_tree_params, verbose=True, n_jobs=-1, cv=skf)
decision_tree_grid.fit(X, y)
# print out the best tree parameters
print('Best decision tree params:', decision_tree_grid.best_params_)
# print out the best tree cross validation score
print('Best decision tree cross validation score:', decision_tree_grid.best_score_)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Best decision tree params: {'max_depth': 4, 'min_samples_leaf': 1}
Best decision tree cross validation score: 0.7962962962962963

[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:    9.0s finished

In [20]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(model,X,y,cv=10)

In [23]:
print("cross_val_score",score.mean())

cross_val_score 0.733269390532139